.center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}

.toDoGrid {
    display: flex;
    flex-direction: column;
}

.input_area {
    display: flex;
}

.main {
    height: 100vh;   
}

